<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details </title>
    <!-- Include Tailwind CSS via CDN -->
    <link rel="stylesheet" href="/css/star.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <%- include('./alertFlash') %>
   
    <div class="container mx-auto px-4 py-8">
        <h2><a href="/products">back</a></h2>
        <h1 class="text-3xl font-bold mb-6">Product Details</h1>
        <section class="w-100% flex flex-row gap-6" >
            <div class="bg-white w-[50%] rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center">
                <img src="<%= product.img %>" alt="Product Image" class="w-full h-64 object-contain object-center">
                <div class="p-6">
                    <h2 class="text-2xl font-semibold mb-4"><%= product.name %></h2>
                    <p class="text-gray-700 mb-4"><%= product.desc %></p>
                    <div class="flex items-center mb-4">
                        <span class="text-lg font-bold text-green-500 mr-2">$<%= product.price %></span>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add to Cart</button>
                    </div>
                    <div class="flex items-center">
                        <span class="text-gray-600 mr-2">Category:</span>
                        <span class="text-gray-800 font-semibold">Electronics</span>
                    </div>
                </div>
                <h3>Reviews</h3>
                <ul>
                     <li></li>
                </ul>
            </div>
            <div>
                <h2>Add Review</h2>
                <form action="/products/<%= product._id %>/rating" method="post">
                    <fieldset class="starability-basic">
                        <legend>First rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                    <br>
                    <label for="comment">Comment:</label>
                    <textarea name="comment" id="comment" cols="20" >
                    </textarea>
                    <input type="submit" value="submit">
                </form>
            </div>
            <div>
                <h1>Reviews</h1>
                <% for(let item of product.reviews) { %>
                    <br>
                    
                    <!-- <h2>Rating: <%= item.rating %></h2> -->
                    
                    <% if(item.createAt){ %>
                        <small><p><%= item.createdAt.toDateString() %></p></small>
                    <% } %>
                    rating:
                    <p class="starability-result " data-rating="<%= item.rating %>">
                        Rated: 3 stars
                    </p>
                    <p>Comment : <%= item.comment %></p>
                <% } %>
            </div>

        </section>
        
